<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
    <h3>Product List</h3>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Proto</th>
        <th>Price</th>
        <th>Buy</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.id}"></td>
             <td th:text="${product.name}"></td>
             <td th:text="${product.photo}"></td>
              <td th:text="${product.price}"></td>
             <td>
             <a th:href="${'/cart/buy/' + product.id}">Buy Now</a>
              </td>
        </tr>
    </th:block>
</table>
</body>
</html>